<div class="container" ng-init="hackCtrl.init()">
    <div class="row">

        <a ng-show="authenticated" ui-sref="hackathons_create" class="btn btn-primary"><i class="material-icons left">add</i>Add an hackathon</a>

        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-body">

                    <h5 class="widget-title">Hackathon ({{ hackCtrl.hackathons.total }})</h5>

                    <form method="GET">
                      <div class="row">
                        <div class="input-field col-md-12">
                          <i class="material-icons prefix">search</i>
                          <input id="q" name="q" type="text" class="validate">
                          <label for="q">Search (by title, place, date)</label>
                        </div>
                      </div>
                    </form>

                </div>

            </div>
        </div>


        <div class="col-md-12">
            <div masonry='{ "transitionDuration" : "0s" , "itemSelector" : ".tile"}' class="row">
                <div masonry-tile class="col-md-4 tile" ng-repeat="hackathon in hackCtrl.hackathons.data">
                    <div class="elegant-card z-depth-1">

                        <div class="card-header {{ hackathon.color }}">
                            <h1>{{ hackathon.two }}</h1>
                        </div>

                        <a ui-sref="hackathons_view({ hackathonId : hackathon.id })" class="btn-floating btn-large waves-effect waves-light btn-default"><i class="material-icons">chevron_right</i></a>

                        <div class="card-body">
                            <h5><a ui-sref="hackathons_view({ hackathonId : hackathon.id })">{{ hackathon.name }}</a></h5>
                            <hr>
                            <p>{{ hackathon.abstract }}...</p>
                        </div>

                        <div class="card-footer {{ hackathon.color }}">
                            <ul class="list-inline">
                                <li><i class="fa fa-clock-o"></i> {{ hackathon.beginning_std | date:'mediumDate' }}</li>
                                <li><i class="fa fa-map-marker"></i> {{ hackathon.place_adr }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <ul class="pagination pag-circle">
                <li><a ui-sref="hackathons({page:1})"><i class="material-icons">chevron_left</i></a></li>
                <li ng-class="{ active : hackCtrl.hackathons.current_page == ($index + 1) }" ng-repeat="i in range(hackCtrl.hackathons.last_page) track by $index">
                    <a ui-sref="hackathons({page:$index + 1})">{{ $index + 1 }} </a>
                </li>
                <li><a ui-sref="hackathons({page:hackCtrl.hackathons.last_page})"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>

    </div>
</div> <!-- /container -->
