<div class="jumbotron {{ hackCtrl.current.data.color }}" ng-init="hackCtrl.loadData()">
  <div class="container">

    <h1>{{ hackCtrl.current.data.name }}</h1>
    <p>{{ hackCtrl.current.data.beginning_std | date:"EEEE, MMMM d, yyyy - HH:mm" }} to {{ hackCtrl.current.data.ending_std | date:"EEEE, MMMM d, yyyy - HH:mm" }} / {{ hackCtrl.current.data.place_adr }}</p>

  </div>

  <div class="small-jumbotron">
    <div class="container">

      <div class="btn-group">
        <a ng-click="hackCtrl.register()" ng-hide="hackCtrl.current.data.beginning_std < now || hackCtrl.current.isRegistered || hackCtrl.current.isAttending || hackCtrl.current.isOrganizator || hackCtrl.current.isAdmin" class="btn btn-default"><i class="material-icons left">assignment_ind</i> Sign In</a>

        <a ng-click="hackCtrl.cancelRegistration()" ng-show="hackCtrl.current.data.beginning_std > now && (hackCtrl.current.isRegistered && !hackCtrl.current.isAttending && !hackCtrl.current.isOrganizator && !hackCtrl.current.isAdmin)" class="btn btn-raised btn-danger"><i class="material-icons left">clear</i> Cancel my registration</a>

        <a ng-show="hackCtrl.current.isRegistered && hackCtrl.current.isAttending && !hackCtrl.current.isOrganizator && !hackCtrl.current.isAdmin" ui-sref="hackathons_projects({ hackathonId : hackCtrl.current.data.id })" class="btn btn-default"><i class="material-icons left">stars</i> Projects</a>
        <a ng-show="(hackCtrl.current.isRegistered && hackCtrl.current.isAttending) || hackCtrl.current.isOrganizator || hackCtrl.current.isAdmin" ui-sref="hackathons_board({ hackathonId : hackCtrl.current.data.id })" class="btn btn-default"><i class="material-icons left">question_answer</i> Forum</a>

        <a ng-show="hackCtrl.current.isAdmin" ui-sref="hackathons_edit({ hackathonId : hackCtrl.current.data.id })" class="btn btn-primary  btn-raised"><i class="material-icons left">create</i> Edit</a>
        <div ng-show="hackCtrl.current.isOrganizator || hackCtrl.current.isAdmin" class="btn-group">
          <a href="bootstrap-elements.html" data-target="#" class="btn btn-primary  btn-raised dropdown-toggle" data-toggle="dropdown"><i class="material-icons left">settings</i> Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="hackathons_participants({ hackathonId : hackCtrl.current.data.id })">Manage participants</a></li>
            <li><a href="javascript:void(0)">Manage projects</a></li>
            <li class="divider"></li>
            <li><a ui-sref="hackathons_news({ hackathonId : hackCtrl.current.data.id })">Manage news</a></li>
          </ul>
        </div>

        <a ng-show="hackCtrl.current.isAdmin" class="btn btn-raised btn-danger" data-toggle="modal" data-target="#delete"><i class="material-icons left">delete</i> Delete</a>

      </div>

    </div>
  </div>

</div>

    <!-- Modal -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Delete hackathon : {{ hackCtrl.current.data.name }}</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this hackathon? 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="$('#delete').modal('toggle'); hackCtrl.delete()">Delete</button>
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <div class="row">

    <div class="col-md-7">

      <div ng-show="hackCtrl.current.private_section">
        <h5>Private informations</h5>
        <div btf-markdown="hackCtrl.current.private_section"></div>
        <hr>
      </div>

      <h5>Hackathon</h5>

      <div btf-markdown="hackCtrl.current.data.description"></div>

    </div>


    <div class="col-md-4 col-md-offset-1">

      <div ng-show="hackCtrl.current.data.facebook || hackCtrl.current.data.twitter || hackCtrl.current.data.github">
        <h5>Social</h5>
        <social-link of="hackCtrl.current.data"></social-link>
        <hr>
      </div>

      <div ng-controller="NewsController as newsCtrl" ng-init="newsCtrl.loadLatestNews()" ng-show="newsCtrl.news.length">
        <h5>News</h5>
        
        <section class="collection">
          <article class="collection-item avatar" ng-repeat="news in newsCtrl.news" id="news.id">
              <i class="material-icons circle info-color">announcement</i>
              <span class="title">{{ news.name }}</span>

              <div>
                <a ui-sref="hackathons_news({ hackathonId : hackCtrl.current.data.id, '#': news.id })" class="btn-flat waves-effect">View the article »</a>
              </div>

              <span class="secondary-content">{{ news.created_at | date:"EEEE, MMMM d, yyyy - HH:mm" }}</span>
          </article>
        </section>
        <a ui-sref="hackathons_news({ hackathonId : hackCtrl.current.data.id })" class="btn-flat waves-effect">View more »</a>
        <hr>
      </div>

      <h5>About</h5>

      <ul>
        <li>Number of participant: {{ hackCtrl.current.nbParticipants }}/{{ hackCtrl.current.data.max_participant }}</li>
        <li>Maximum number of participant per team: {{ hackCtrl.current.data.max_participant_per_team }}</li>
        <li>Organize by: {{ hackCtrl.current.organization }}</li>
      </ul>

    </div>


  </div>
</div> <!-- /container -->