.parallax-home {
    background-image: url(../img/bg.jpg);
}

.caret {
    margin-left: 5px !important;
}

.jumbotron {
    color: #FFF;
}

.fb-bg {
    background-color: #3B5998;
}

.tw-bg {
    background-color: #6cb7f0;
}

.tw-bg, .fb-bg {
    color: #FFF;
}

.tw-bg:hover, .fb-bg:hover {
    color: #FFF;
}

/** Card */
.elegant-card {
    margin-bottom: 1em;
}

.elegant-card  .card-header {
    color: #FFF;
    padding: 1px 15px;
}

.elegant-card .btn-floating {
    margin: -2.1em 2em;
    float: right;
}

.elegant-card .card-body {
    padding: 2em;
}

.elegant-card .card-footer {
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.capitalize {
    text-transform: capitalize;
}

.alert {
    border-radius: 0px;
    color: rgba(255,255,255,.84);
}

.alert .close {
   color: rgba(255,255,255,1); 
   opacity: 0.84;
}

.alert .close:hover {
   color: rgba(255,255,255,1); 
   opacity: 1;
}

input[required], select[required] {
    background-image: url('/img/star.png');
    background-repeat: no-repeat;
    background-position-x: right;
}
