.parallax-home {
    background-image: url(../img/bg.jpg);
}

.caret {
    margin-left: 5px !important;
}

.jumbotron {
    color: #FFF;
}

.fb-bg {
    background-color: #3B5998;
}

.tw-bg {
    background-color: #6cb7f0;
}

.email-bg {
    background-color: #4B515D;
}

.git-bg {
    background-color: #5490ca;    
}

.tw-bg, .fb-bg, .email-bg, .git-bg {
    color: #FFF;
}

.tw-bg:hover, .fb-bg:hover, .email-bg:hover, .git-bg:hover {
    color: #FFF;
}

.small-jumbotron {
    background-color: #eee;
    padding-top: 18px;
    padding-bottom: 18px;
}


/** Card */
.elegant-card {
    margin-bottom: 1em;
}

.elegant-card  .card-header {
    color: #FFF;
    padding: 1px 15px;
}

.elegant-card .btn-floating {
    margin: -2.1em 2em;
    float: right;
}

.elegant-card .card-body {
    padding: 2em;
}

.elegant-card .card-footer {
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.capitalize {
    text-transform: capitalize;
}

.alert {
    border-radius: 0px;
    color: rgba(255,255,255,.84);
}

.alert .close {
   color: rgba(255,255,255,1); 
   opacity: 0.84;
}

.alert .close:hover {
   color: rgba(255,255,255,1); 
   opacity: 1;
}


/* Router transition Animation */
 /* start 'enter' transition */
main.ng-enter {
    /* transition on enter for .5s */
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    /* start with opacity 0 (invisible) */
    opacity: 0;
}

/* end 'enter' transition */
main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}


.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 400px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
    color: #757575;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

.highlight {
    color: #ff4444;
}

.ng-hide.ng-hide-animate{
    display: none !important;
}

.container {
  padding-left:0; padding-right:0
}

select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: 0;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}

select[disabled] {
    cursor: not-allowed;
    color: rgba(0,0,0,.26);
    border-bottom: 1px dotted rgba(0,0,0,.26);
    background-color: #eee;
    opacity: 1;
}