<div class="container" ng-init="orgaCtrl.init()">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-md btn-raised" ui-sref="organization_create"><i class="material-icons left">add</i> Create an organization</a>
            <h3>My organizations</h3>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Social</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="orga in orgaCtrl.orga">
                    <td>{{ orga.id }}</td>
                    <td>{{ orga.name }}</td>
                    <td>{{ orga.email }}</td>
                    <td>
                      <span ng-show="orga.isAdmin" class="label label-danger">Administrator</span>
                      <span ng-hide="orga.isAdmin" class="label label-primary">Member</span>
                    </td>
                    <td>
                      <social-link of="orga"></social-link>
                    </td>
                    <td>
                        <a ui-sref="organization_hackathon({organizationId: orga.id})" class="btn-floating waves-effect waves-light default-color"><i class="material-icons">remove_red_eye</i></a>

                        <a ng-show="orga.isAdmin" ui-sref="organization_members({organizationId: orga.id})" class="btn-floating waves-effect waves-light primary-color"><i class="material-icons">group</i></a>
                        <a ng-show="orga.isAdmin" ui-sref="organization_edit({organizationId: orga.id})" class="btn-floating waves-effect waves-light primary-color"><i class="material-icons">edit</i></a>
                        <a ng-show="orga.isAdmin" class="btn-floating waves-effect waves-light red" data-toggle="modal" data-target="#delete-{{ orga.id }}"><i class="material-icons">delete</i></a> 

                        <!-- Delete Modal -->
                        <div class="modal fade" id="delete-{{ orga.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Delete organization : {{ orga.name }}</h4>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to delete this organization? 
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="$('#delete-' + orga.id).modal('toggle'); orgaCtrl.delete(orga)">Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <a ng-hide="orga.isAdmin" class="btn-floating waves-effect waves-light red" data-toggle="modal" data-target="#remove-{{ orga.id }}"><i class="material-icons">clear</i></a>

                        <!-- Remove Modal -->
                        <div class="modal fade" id="remove-{{ orga.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Quit organization : {{ orga.name }}</h4>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to quit this organization? 
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="$('#remove-' + orga.id).modal('toggle'); orgaCtrl.quit(orga)">Quit</button>
                              </div>
                            </div>
                          </div>
                        </div>



                    </td>
                                        

                  </tr>                                   
                </tbody>
              </table>
        </div>
    </div>
</div>