<div class="container">
    <div class="row">
        <div class="col-md-12">

          <h3>My hackathons</h3>

          <div style="margin-bottom:20px">
            <b>Caption: </b>
            <span class="new badge event-incomming">In comming</span>
            <span class="new badge event-inprogress">In progress</span>
            <span class="new badge event-done">Done</span>
          </div>

          <ul class="nav nav-tabs tabs-2">
            <li class="active"><a data-toggle="tab" ui-sref="my_hackathons({'#': 'as-participant'})">As Participant</a></li>
            <li><a data-toggle="tab" ui-sref="my_hackathons({'#': 'as-organizer'})">As Organizer</a></li>
          </ul>

          <div class="tab-content">
            <div id="as-participant" class="tab-pane fade in active">
                <br>
              <h5>As Participant</h5>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Place</th>
                    <th>Beginning</th>
                    <th>Ending</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-class="{ 'event-incomming': hackathon.beginning_std > now, 'event-done': hackathon.ending_std < now, 'event-inprogress': hackathon.ending_std > now && hackathon.beginning_std < now }" ng-repeat="hackathon in hackCtrl.hackathons.participate">
                    <td>{{ hackathon.id }}</td>
                    <td>{{ hackathon.name }}</td>
                    <td>{{ hackathon.place_adr }}</td>
                    <td>{{ hackathon.beginning }}</td>
                    <td>{{ hackathon.ending }}</td>
                    <td>
                        <a ui-sref="hackathons_view({hackathonId: hackathon.id})" class="btn-floating waves-effect waves-light default-color"><i class="material-icons">remove_red_eye</i></a>                      
                    </td>

                  </tr>                                   
                </tbody>
              </table>
            </div>
            <div id="as-organizer" class="tab-pane fade">
                <br>
              <div ng-repeat="organization in hackCtrl.hackathons.organizer">  
                <h5>{{ organization.name }},  
                  <small ng-show="organization.isAdmin">Administrator</small>
                  <small ng-hide="organization.isAdmin">Organizer</small>
                </h5>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Place</th>
                      <th>Beginning</th>
                      <th>Ending</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-class="{ 'event-incomming': hackathon.beginning_std > now, 'event-done': hackathon.ending_std < now, 'event-inprogress': hackathon.ending_std > now && hackathon.beginning_std < now }" ng-repeat="hackathon in organization.hackathons">
                      <td>{{ hackathon.id }}</td>
                      <td>{{ hackathon.name }}</td>
                      <td>{{ hackathon.place_adr }}</td>
                      <td>{{ hackathon.beginning }}</td>
                      <td>{{ hackathon.ending }}</td>
                      <td>
                          <a ui-sref="hackathons_view({hackathonId: hackathon.id})" class="btn-floating waves-effect waves-light default-color"><i class="material-icons">remove_red_eye</i></a>
                        
                      </td>

                    </tr>                                   
                  </tbody>
                </table>
              </div>

            </div>

          </div> <!-- end tab content -->

    </div>
  </div>
</div>